<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <form action="new_user_path" method="get">
      Username: <input type="text" name="fname"><br>
      E-mail: <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
